@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);
/* Background gradient: */
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);
/* Text */
--very-dark-grayish-blue: hsl(237, 12%, 33%);
--dark-grayish-blue: hsl(240, 6%, 50%);
/* Dividers */
--Light-grayish-blue: hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(130deg,hsl(273, 75%, 66%),
    hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    min-height: calc(100vh - 0.1px);
    padding: 1.25rem;
    font-size: 12px;
}
.container{
    position: relative;
    background-color: white;
    padding: 1.25rem;
    border-radius: 1rem;
    width: 320px;
}
.container__pictures img{
    display: block ;
    margin: auto;
    position: absolute;
    transform: translate(10px, -160px);
    width: 250px;
}

.title{
    font-size: 2rem;
    color: var(--very-dark-desaturated-blue);
    margin: 150px auto 30px;
    align-items: center;
    text-align: center;
}

article{
    margin-left: 2px;
    margin-top: 25px;
}

.article__question article h2{
    font-size: 0.83rem;
    color: var(--very-dark-grayish-blue); 
    font-weight: 400;
    padding-top: 10px;
}
.article__question article{
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.article__question article h2:hover{
color: var(--soft-red);
}
.article__question article h2.clicked{
    font-weight: 600;
}

.article__question p{
    color: var(--very-dark-grayish-blue); 
}

.icon-arrow{
    color: var(--soft-red);
}

@media (min-width: 768px){
    .container{
        display: flex;
        width: 925px;
        align-items: center;
        justify-content: center;
    }
.container__pictures img {
    Clip-path: inset(0px 0px 0px 90px);
    margin-top: 60px;
    position: absolute;
    transform: translate(-368px, -250px);
    width: 400px;
}
article{
margin-left: 110px;
align-items: flex-start;
text-align: left;
}
.title{
    margin: 30px 10px;
}
.article__question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article__question article {
    text-align: right;
    gap: 10px;
}
.article__question p {
    width: 250px;
    margin-left: 110px;
}
}